
<footer class="page-footer font-small cyan darken-8">

    <!-- Footer Elements -->
 
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 All rights reserved:
      <a style= "color:white;" > AlchayAndAvraham</a>
    </div>
    <!-- Copyright -->
  
  </footer>
