
<div class="card-columns" id="userGrid">
    
<% if(userType == 'Admin'){ %>
<div class="card" style="width:400px">
        
        <img class="card-img-bottom" src="images/person/add.svg" alt="Card image" style="width:100%">
      </div>
      <% } %>

</div> 